 @charset "utl-8";
 #container{
	display:flex;
	flex-direction:column;
	align-items:center;
}
#ja,#chinese,#pinyin{
	margin: 8px;
	padding: 16px;
	font-size:30px;
}

#btn{
	font-size:30px;
	cursor:pointer;
}
#result{
	transition:1s;
	opacity:1;
}
#result.fade{
	opacity:0;	
}
body{
	font-family: sans-serif;
}
